version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: lotr_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: lotr_registry
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: